{% extends 'main/layout.html' %}

{% block title %}About Page{% endblock %}


{% block content %}
    <div class="features">
         <h1>Про нас</h1>
        <p>Revers.UZ Market — это команда профессионалов с огромным опытом работы в сфере продажи и обслуживания компьютерного оборудования. Наша миссия — это предоставить широкий спектр услуг, от продажи компьютерного оборудования до полного обслуживания в сфере IT.

Мы предоставляем готовые решения, нашим заказчикам: Все что связано с компьютерным оборудованием и его обслуживанием МЫ берем на себя!</p>
        <a href="https://www.instagram.com/revers.uz/"><button class="btn btn-danger">Просто сделай хоть что-то!Подпишись на нас в инстаграмм)</button></a>
    </div>
{% endblock %}