{% extends 'main/layout.html' %}

{% block title %}Главная страница{% endblock %}


{% block content %}
    <div class="features">
         <h1>Главная страница</h1>
        <p>У нас большой выбор игровых компьютеров. Есть готовые сборки и возможность собрать компьютер самому. Перейдите в категорию Про-нас чтобы собрать компьютер. Наши специалисты с удовольствием вас проконсультируют в онлайн чате, или по номеру +998(91)775-58-77</p>
        <a href="{% url 'contact' %}"><button class="btn btn-warning">На страницу контакты</button></a>
    </div>
{% endblock %}